:root {
    --btcolor: #fec107
}

* {
    margin: 0;
    padding: 0;
}


/* --------------- HEADER ---------------*/
header {
    color: white;
}

.navbar-nav .nav-item a:hover {
    color: red !important;
    /* color del texto al pasar el mouse por encima del nav*/
}




/* -------------- IMAGENES BS AS ----------*/
.filter {
    filter: brightness(0.5);
}

.comprar {
    background-color: #29a744;
    border-color: #29a744;
    margin-left: 10px;
}

.subtitulo {
    text-align: center;
}

#oradores {
    margin: 0px 15% 20px;
}



/* ------------ BOTONES DE TARJETAS ---------*/
.js {
    font-size: 12px;
    font-weight: 700;
    padding: 0px 5px;
    background-color: var(--btcolor);
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

.js:hover {
    background-color: black;
    color: var(--btcolor);
}

.react {
    font-size: 12px;
    font-weight: 700;
    padding: 0px 5px;
    background-color: #18a3ba;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.react:hover {
    background-color: lightgrey;
    color: #18a3ba;
}

.ngc {
    font-size: 12px;
    font-weight: 700;
    padding: 0px 5px;
    background-color: #6d747e;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.ngc:hover {
    background-color: lightgrey;
    color: #6d747e;
}

.start {
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 0px 5px;
    background-color: #dc3546;
    border-radius: 5px;
    text-decoration: none;
}

.start:hover {
    background-color: lightgrey;
    color: #dc3546;
}


/* ----------------------------------------------------*/

.convertite {
    text-align: center;
}

.enviar {
    padding: 10px;
    background-color: #96c93e;
    border-color: #96c93e;
    border-radius: 5px;
    color: white;
    border-style: none;
}

.enviar:hover {
    background-color: #29a744;
    border-style: none;
}



/* ------------------ FOOTER ----------------------*/

.footer {
    background: #1d465c !important;
    color: white !important;
    padding: 10px;
    margin-top: 10px;

    a {
        text-decoration: none !important;
        color: white;
    }

    a:hover {
        color: #dc3546 !important;
    }

}